html,
body {
	color: #ccc;
	font-family: 'Sanchez', serif;
	font-size: 16px;
}

/*top*/

.logo {
	background-image: url(../images/logo_large.png);
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: #fff;
	margin: 0 0 20px;
}

.logo_large {
	margin: 20px;
}

.bar_black {
	color: #fff;
	background-image: url(../images/header.jpg);
	position: center;
	background-color: #111;
}
.title {
	font-color: #fff;
	font-size: 60px;
	font-family: 'Sanchez', serif;

}

.intro {
	color: #ccc;
	font-size: 22px;
	margin: 20px 0 0;
	font-family: 'Lato';
}

/*Menu*/

.coffee_menu{
	background-color: #AC8420
}

.espresso_menu{
	background-color: #AC8420
}

.menu_item {
	border-bottom: 2px solid #9B761C;
	margin: 0;
	padding: 10px 0 15px;
}

.container_wide {
	width: 900px;
}

.container_wide {
	width: 900px;
}

/*Location*/

.bar_location {
	background: #222;


}

/*Footer*/

.footer {
	background: #222;
	background-image: url(../images/logo_small.png);
	background-repeat: no-repeat;

}





